// 全局样式表
html, body, #app {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #eee;
}

// 定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸
::-webkit-scrollbar {
  width: 7px; /*滚动条宽度*/
  height: 7px; /*滚动条高度*/
  background-color: #fff;
}


/*定义滑块 内阴影+圆角*/
::-webkit-scrollbar-thumb {
  border-radius:4px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: rgba(221, 222, 224,1); /*滚动条的背景颜色*/
}


.el-message-box{
  width: 275px;
}



.el-select-dropdown__item {
  text-align: center;
  span{
    margin-right: 20px;
  }
}

:focus {
  outline: 0;
}


.el-textarea .el-textarea__inner{ // 然后找到对应的类名，在这里将拉伸去掉即可
  resize: none;
}



